{% extends "MoocMoocBundle:Apprenant:EspaceApprenant.html.twig" %}

{% block stylesheets %}
    {{ parent()}}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
    
        <!-- Bootstrap CSS -->    
        <link href="{{asset('bundles/moocmooc/css/profilformateur/css/bootstrap.min.css')}}" rel="stylesheet">
        <!-- bootstrap theme -->
        <link href="{{asset('bundles/moocmooc/css/profilformateur/css/bootstrap-theme.css')}}" rel="stylesheet">
        <!--external css-->
        <!-- font icon -->
        <link href="{{asset('bundles/moocmooc/css/profilformateur/css/elegant-icons-style.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/moocmooc/css/profilformateur/css/font-awesome.min.css')}}" rel="stylesheet">
        <!-- Custom styles -->
        <link href="{{asset('bundles/moocmooc/css/profilformateur/css/style.css')}}" rel="stylesheet">	
        <link href="{{asset('bundles/moocmooc/css/profilformateur/css/style-responsive.css')}}" rel="stylesheet">
    


{% endblock %}
{% block title %}
    {{parent()}}
     
{% endblock %}

{% block sidebar %}
    <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li>
                      <a class="" href="{{path('mooc_accueil_apprenant', {'login': apprenant.login})}}">
                          <i class="fa fa-user-md"></i>
                          <span>Mon Profile</span>
                      </a>
                  </li>

                  <li class="active">                     
                      <a class="" href="{{path('mooc_cours_apprenant', {'login': apprenant.login})}}">
                          <i class="icon_book_alt"></i>
                          <span>Mes Cours</span>
                          
                      </a>
                                         
                  </li>
                  <li>                     
                      <a class="" href="{{path('mooc_chercher_cours_apprenant', {'login': apprenant.login})}}">
                          <i class="icon_search"></i>
                          <span>Chercher Cours</span>
                          
                      </a>
                                         
                  </li>
                           
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
 
{% endblock %}
 
{% block body %}
            <!--main content start-->
            <section id="main-content">
                <section class="wrapper">            
                    <!--overview start-->
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="page-header"><i class="fa fa-laptop"></i> Profil Formateur</h3>
                            <h2>     
                                <div>
                                    {{ socialButtons() }}
                                </div><br>
                            </h2>
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home"></i><a href="#">Acceuil</a></li>
                                <li><i class="fa fa-laptop"></i>Profil</li>						  	
                            </ol>
                        </div>
                    </div>

                    <!-- Today status end -->

                    <div class="row">
                        <div class="col-lg-12">
                            <section class="panel">
                                <header class="panel-heading">                                   
                                    <center><b> <label style="color:blue;font-weight:bold;font-size: 150%;"> Quiz : {{ quiz.titre}}</label></b></center>
                                </header>
                                <div class="panel-body">
                                    <div class="form">
                                        <form class="form-validate form-horizontal" id="feedback_form" method="POST" action="{{path ('mooc_mooc_passer_quiz',{'id':quiz.id})}}">

                                            {% for q in rep %} 

                                                <label style="color:blue;background-color:beige;font-size: 250%;" >{{q["0"].idquestion.question}}</label><br>
                                                
                                                 {% for i in 0..3 %}
                                                    <table>

                                                        <input type="checkbox" name="{{i}}" value="{{q[i].etat}}" /><label style="color:black;font-size: 150%" >{{q[i].rep}}</label><br>

                                                    </table>
                                                {% endfor %}
                                            {% endfor %}
                                            <button class="btn btn-primary" type="submit">valider</button>

                                            </section>
                                            <br>
                                            </div>
                                            </div>

                                            <br><br>
                                            </section>
                                            </section>
                                            <!--main content end-->
                                            </section>
                                            <!-- container section start -->

{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>


{% endblock %}



