{% extends "MoocMoocBundle::layout.html.twig" %}

{% block container %}



    <div class="container_12">
        <div class="grid_12">
            <h2 class="mb0">Liste des Organisme</h2>
            <br/>
        </div>
    </div>
<div class="gray_block gb1">
    <div class="container_12">
        <div class="gallery">
            <div class="grid_3">
                <a href="{{asset('bundles/moocmooc/images/big1.jpg')}}" class="gal"><img src="{{asset('bundles/moocmooc/images/esprit.jpg')}}" alt=""></a>
                <div class="text1"><a href="#">Esprit</a></div>
                Créée en 2003 à l’initiative d’un groupe d’universitaires ayant conduit de nombreux projets dans l’enseignement supérieur tunisien, et dans l’enseignement supérieur technique en particulier, Esprit a démarré avec une trentaine d’étudiants. Elle est désormais un acteur majeur de la formation des ingénieurs en Tunisie. 
                <br>
                <a href="#" class="btn">more</a>
            </div>
            <div class="grid_3">
                <a href="{{asset('bundles/moocmooc/images/big2.jpg')}}" class="gal bd1"><img src="{{asset('bundles/moocmooc/images/carthage.png')}}" alt=""></a>
                <div class="text1"><a href="#">Carthage</a></div>
                Fermollis erat mattisy nequelisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra
                <br>
                <a href="#" class="btn">more</a>
            </div>
            <div class="grid_3">
                <a href="{{asset('bundles/moocmooc/images/big3.jpg')}}" class="gal bd2"><img src="{{asset('bundles/moocmooc/images/dauphine.png')}}" alt=""></a>
                <div class="text1"><a href="#">Daufine</a></div>
                In mollis erat mattisy nequelisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra
                <br>
                <a href="#" class="btn">more</a>
            </div>
            <div class="grid_3">
                <a href="{{asset('bundles/moocmooc/images/big4.jpg')}}" class="gal bd3"><img src="{{asset('bundles/moocmooc/images/limoges.png')}}" alt=""></a>
                <div class="text1"><a href="#">Limoges</a></div>
                Hhol mollis erat mattisy kilomi nequelisis, sit amet ultricieser erarutrum. Cras facilisisolo
                <br>
                <a href="#" class="btn">more</a>
            </div>
            <div class="clear"></div>
            <div class="grid_3">
                <a href="{{asset('bundles/moocmooc/images/big5.jpg')}}" class="gal"><img src="{{asset('bundles/moocmooc/images/elamouri.jpg')}}" alt=""></a>
                <div class="text1"><a href="#">Elamouri</a></div>
                Mollis erat mattisy nequelisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra aucto
                <br>
                <a href="#" class="btn">more</a>
            </div>
            <div class="grid_3">
                <a href="{{asset('bundles/moocmooc/images/big6.jpg')}}" class="gal bd1"><img src="{{asset('bundles/moocmooc/images/sesame.png')}}" alt=""></a>
                <div class="text1"><a href="#">Sesame</a></div>
                In mollis erat mattisy nequelisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra
                <br>
                <a href="#" class="btn">more</a>
            </div>
            <div class="grid_3">
                <a href="{{asset('bundles/moocmooc/images/big7.jpg')}}" class="gal bd2"><img src="{{asset('bundles/moocmooc/images/ult.png')}}" alt=""></a>
                <div class="text1"><a href="#">ULT</a></div>
                Hlottisy nequelisis, sit ametyter ultricieser erarutrum. Crasyto facilisis, nulla vel viverra auc
                <br>
                <a href="#" class="btn">more</a>
            </div>
            <div class="grid_3">
                <a href="{{asset('bundles/moocmooc/images/big8.jpg')}}" class="gal bd3"><img src="{{asset('bundles/moocmooc/images/universitecentrale.jpg')}}" alt=""></a>
                <div class="text1"><a href="#">Universitecentrale</a></div>
                Koliu erat mattisy nequelisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra auctom
                <br>
                <a href="#" class="btn">more</a>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}