{% extends "MoocMoocBundle:Apprenant:EspaceApprenant.html.twig" %}

{% block stylesheets %}
    {{ parent()}}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
   <!-- Bootstrap CSS Rating -->  
    
    {#<link href="{{asset('bundles/bootstrapStarRating/css/bootstrap.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/bootstrapStarRating/css/star-rating.css')}}" rel="stylesheet" type="text/css" media="all">
    
    <link href="{{asset('bundles/moocmooc/ApprenantAssets/css/bootstrap.css')}}" rel="stylesheet" type="text/css" media="all">
    <link href="{{asset('bundles/moocmooc/ApprenantAssets/css/star-rating.css')}}" rel="stylesheet" type="text/css" media="all">
    
    
    <link href="{{asset('bundles/bootstrapStarRating/css/font-awesome.min.css')}}" rel="stylesheet">
    
    
    <!-- optionally if you need to use a theme, then include the theme file as mentioned below -->
    <link href="{{asset('bundles/bootstrapStarRating/css/theme-krajee-svg.css')}}" rel="stylesheet" type="text/css" media="all">#}


{% endblock %}
{% block title %}
    {{parent()}}
{% endblock %}

{% block sidebar %}
    <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li>
                      <a class="" href="{{path('mooc_accueil_apprenant', {'login': apprenant.login})}}">
                          <i class="fa fa-user-md"></i>
                          <span>Mon Profile</span>
                      </a>
                  </li>

                  <li class="active">                     
                      <a class="" href="{{path('mooc_cours_apprenant', {'login': apprenant.login})}}">
                          <i class="icon_book_alt"></i>
                          <span>Mes Cours</span>
                          
                      </a>
                                         
                  </li>
                  <li>                     
                      <a class="" href="{{path('mooc_chercher_cours_apprenant', {'login': apprenant.login})}}">
                          <i class="icon_search"></i>
                          <span>Chercher Cours</span>
                          
                      </a>
                                         
                  </li>
                           
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
 
{% endblock %}
 
{% block body %}
<section id="main-content">
          <section class="wrapper">
		  <div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="icon_book_alt"></i> Mes Cours</h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-th-list"></i><a href="index.html">Mes Cours</a></li>

				  </ol>
				</div>
			</div>
              <!-- page start-->
              <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              Tableau des cours
                          </header>
                          
                          <table class="table table-striped table-advance table-hover">
                           <tbody>
                              <tr>
                                 <th><i class="icon_pin_alt"></i> Nom du cour</th>              
                                 <th><i class="icon_profile"></i> Description</th>
                                 <th><i class="icon_mobile"></i> Difficulté</th>
                                 <th><i class="icon_calendar"></i> Note</th>
                                 <th><i class="icon_cogs"></i> Action</th>
                              </tr>
                              {% for cour in Coursuivi %}
                                  <tr>
                                 <td>{{cour.nomCours}}</td>
                                 <td>{{cour.description}}</td>
                                 {#<td>{{cour.difficulte}}</td>#}
                                 {#<td width='30%'><input id="input-21e" value="0" type="number" class="rating" min=0 max=5 step=1 data-size="xs" > </td>#}
                                 <td>
                                 {{ cour.difficulte |rating }}{#<div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div>#}
                                
                                 <td>{{cour.note}}</td>
                                 <td>
                                  <div class="btn-group">
                                     <a class="btn btn-success" href="{{path('mooc_consult_cours_apprenant', {'id': cour.idcours,'login': apprenant.login })}}" title="Consulter">Consulter</a>
                                     <a class="btn btn-danger" href="{{path('mooc_supprimer_cours_apprenant', {'id': cour.idcoursuivi,'login': apprenant.login })}}" title="Supprimer">Supprimer</a>
                                  </div>
                                  </td>
                              </tr>
                              {% endfor %}
                              {#S<tr>
                                 <td>Android</td>
                                 <td>Angeline Mcclain</td>
                                 <td>Facile</td>
                                 <td>17</td>
                                 <td>
                                  <div class="btn-group">
                                     <a class="btn btn-success" href="" title="Consulter">View</a>
                                     <a class="btn btn-danger" href="" title="Supprimer">Delete</a>
                                  </div>
                                  </td>
                              </tr>
                              <tr>
                                 <td>Cross Platform</td>
                                 <td>Sung Carlson</td>
                                 <td>Facile</td>
                                 <td>15</td>
                                 <td>
                                  <div class="btn-group">
                                      <a class="btn btn-success" href="" title="Consulter">View</a>
                                     <a class="btn btn-danger" href="" title="Supprimer">Delete</a>
                                  </div>
                                  </td>
                              </tr>
                              <tr>
                                 <td>Windows Phone</td>
                                 <td>Selina Fitzgerald</td>
                                 <td>Facile</td>
                                 <td>-</td>
                                 <td>
                                  <div class="btn-group">
                                      <a class="btn btn-success" href="" title="Consulter">View</a>
                                     <a class="btn btn-danger" href="" title="Supprimer">Delete</a>
                                  </div>
                                  </td>
                              </tr>
                              <tr>
                                 <td>J2me</td>
                                 <td>Abraham Avery</td>
                                 <td>Facile</td>
                                 <td>20</td>
                                 <td>
                                  <div class="btn-group">
                                      <a class="btn btn-success" href="" title="Consulter">View</a>
                                     <a class="btn btn-danger" href="" title="Supprimer">Delete</a>
                                  </div>
                                  </td>
                              </tr>
                              <tr>
                              <tr>
                                 <td>IOS</td>
                                 <td>Ahmed Dean</td>
                                 <td>Facile</td>
                                 <td>-</td>
                                 <td>
                                  <div class="btn-group">
                                      <a class="btn btn-success" href="" title="Consulter">View</a>
                                     <a class="btn btn-danger" href="" title="Supprimer">Delete</a>
                                  </div>
                                  </td>
                              </tr> #}
                             
                           </tbody>
                        </table>
                      </section>
                  </div>
              </div>
              <!-- page end-->
          </section>
      </section>
{% endblock %}

{% block javascripts %}
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
    <!-- javascripts -->
    <script src="{{asset('bundles/moocmooc/ApprenantAssets/js/jquery.js')}}"></script>
    <script src="{{asset('bundles/moocmooc/ApprenantAssets/js/bootstrap.min.js')}}"></script>
    <!-- nice scroll -->
    <script src="{{asset('bundles/moocmooc/ApprenantAssets/js/jquery.scrollTo.min.js')}}"></script>
    <script src="{{asset('bundles/moocmooc/ApprenantAssets/js/jquery.nicescroll.js')}}"></script>
    <!-- jquery knob -->
    <script src="{{asset('bundles/moocmooc/ApprenantAssets/js/jquery.knob.js')}}"></script>
    <!--custome script for all page-->
    <script src="{{asset('bundles/moocmooc/ApprenantAssets/js/scripts.js')}}"></script>
    
    <!-- Bootstrap JS Rating --> 
    {#<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
    <script src="{{asset('bundles/bootstrapStarRating/js/jquery.min.js')}}"></script>
    <script src="{{asset('bundles/bootstrapStarRating/js/star-rating.js')}}"></script>#}
    
   {# <script src="{{asset('bundles/moocmooc/ApprenantAssets/js/jquery.min.js')}}"></script>
    <script src="{{asset('bundles/moocmooc/ApprenantAssets/js/star-rating.js')}}"></script>
    <!-- optionally if you need translation for your language then include locale file as mentioned below -->
    <script src="{{asset('bundles/bootstrapStarRating/js/star-rating_locale_fr.js')}}"></script>
   <script>
     
      // initialize with defaults
    $("#input-id").rating();
	
  </script>#}
  

{% endblock %}
