{% extends "MoocMoocBundle::layout.html.twig" %}

{% block container %}



    <div class="container_12">
        <div class="grid_12">
            <h2 class="mb0">Liste des formateurs</h2>
            <br/>
        </div>
    </div>
<div class="gray_block gb1">
    <div class="container_12">
         <div class="gallery">
       
        {% for f in Formateurs %}
            <div class="grid_3">
                <a href="{{asset('bundles/moocmooc/images/big1.jpg')}}" class="gal1"><img src="{{asset('bundles/moocmooc/images/page4.jpg')}}" alt=""></a>
                <div class="text1"><a href="#">{{f.nom}} {{f.prenom}}</a></div>
                {{f.email}}
                <br>
                <a href="#" class="btn">more</a>
                  </div>
         {% endfor %}
      
         
            {#<div class="grid_3">
                <a href="{{asset('bundles/moocmooc/images/big2.jpg')}}" class="gal bd1"><img src="{{asset('bundles/moocmooc/images/page4_img2.jpg')}}" alt=""></a>
                <div class="text1"><a href="#">Vivamus at magna non</a></div>
                Fermollis erat mattisy nequelisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra
                <br>
                <a href="#" class="btn">more</a>
            </div>
            <div class="grid_3">
                <a href="{{asset('bundles/moocmooc/images/big3.jpg')}}" class="gal bd2"><img src="{{asset('bundles/moocmooc/images/page4_img3.jpg')}}" alt=""></a>
                <div class="text1"><a href="#">Curabitur vel lorem sit</a></div>
                In mollis erat mattisy nequelisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra
                <br>
                <a href="#" class="btn">more</a>
            </div>
            <div class="grid_3">
                <a href="{{asset('bundles/moocmooc/images/big4.jpg')}}" class="gal bd3"><img src="{{asset('bundles/moocmooc/images/page4_img4.jpg')}}" alt=""></a>
                <div class="text1"><a href="#">Phasellus erat nisuctor</a></div>
                Hhol mollis erat mattisy kilomi nequelisis, sit amet ultricieser erarutrum. Cras facilisisolo
                <br>
                <a href="#" class="btn">more</a>
            </div>
            <div class="clear"></div>
            <div class="grid_3">
                <a href="{{asset('bundles/moocmooc/images/big5.jpg')}}" class="gal"><img src="{{asset('bundles/moocmooc/images/page4_img5.jpg')}}" alt=""></a>
                <div class="text1"><a href="#">Etiam dui eros, laoreet</a></div>
                Mollis erat mattisy nequelisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra aucto
                <br>
                <a href="#" class="btn">more</a>
            </div>
            <div class="grid_3">
                <a href="{{asset('bundles/moocmooc/images/big6.jpg')}}" class="gal bd1"><img src="{{asset('bundles/moocmooc/images/page4_img6.jpg')}}" alt=""></a>
                <div class="text1"><a href="#">Dui eroslaoreetdui ero</a></div>
                In mollis erat mattisy nequelisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra
                <br>
                <a href="#" class="btn">more</a>
            </div>
            <div class="grid_3">
                <a href="{{asset('bundles/moocmooc/images/big7.jpg')}}" class="gal bd2"><img src="{{asset('bundles/moocmooc/images/page4_img7.jpg')}}" alt=""></a>
                <div class="text1"><a href="#">A at magna noru adip</a></div>
                Hlottisy nequelisis, sit ametyter ultricieser erarutrum. Crasyto facilisis, nulla vel viverra auc
                <br>
                <a href="#" class="btn">more</a>
            </div>
            <div class="grid_3">
                <a href="{{asset('bundles/moocmooc/images/big8.jpg')}}" class="gal bd3"><img src="{{asset('bundles/moocmooc/images/page4_img8.jpg')}}" alt=""></a>
                <div class="text1"><a href="#">Retui erosi laoru adip</a></div>
                Koliu erat mattisy nequelisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra auctom
                <br>
                <a href="#" class="btn">more</a>
            </div>#}
         
         
  
    </div>
</div>
    
{% endblock %}